@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.content-width {
  margin: 0 auto;
  max-width: 61.5vw;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: 1.6rem;
  /* 16px */
  color: #1B224C;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

#header {
  position: relative;
  width: 100vw;
  height: 80px;
}

#header .header__right-content {
  display: none;
}

#header .header__left-content {
  display: none;
}

#header .header__mobile-content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 50;
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

#header .header__mobile-content .header__headding img {
  margin: 26px 10px;
}

@media (min-width: 1279px) {
  #header .header-container {
    height: 80px;
    width: 100%;
    background-color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 100;
  }
  #header .header__left-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .header__left-content .header__headding img {
    margin: 27px 0;
    margin-left: 15px;
    margin-right: 28px;
  }
  #header .header__left-content .header__nav-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .header__left-content .header__nav-container li {
    font-size: 1.6rem;
    font-weight: bold;
    padding-right: 28px;
  }
  #header .header__right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .header__right-content .header__ex-container {
    padding: 15px 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .header__right-content .header__ex-container .header__time {
    font-size: 1.2rem;
    line-height: 1.66667em;
    text-align: right;
    margin-top: auto;
    padding-bottom: 10px;
  }
  #header .header__right-content .header__ex-container .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .header__right-content .header__ex-container .header__phone__img {
    margin-right: 5px;
  }
  #header .header__right-content .header__ex-container .header__phone__number {
    font-size: 1.6rem;
    font-weight: bold;
  }
  #header .header__right-content .header__request {
    margin: 15px 0;
    margin-right: 10px;
  }
  #header .header__right-content .header__request.btn {
    width: 140px;
    height: 50px;
    text-align: center;
    background-color: #F5A623;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
  }
  #header .header__right-content .header__request.btn a {
    display: block;
    width: 140px;
  }
  #header .header__right-content .header__contact {
    margin: 15px 0;
    margin-right: 10px;
  }
  #header .header__right-content .header__contact.btn {
    width: 140px;
    height: 50px;
    text-align: center;
    background-color: #1B224C;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
  }
  #header .header__right-content .header__contact.btn a {
    display: block;
    width: 140px;
  }
  #header .header__mobile-content {
    display: none;
  }
}

/*　ハンバーガーボタン　*/
.hamburger {
  width: 45px;
  height: 45px;
  border: 1px solid #1B224C;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 50;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left: 12px;
  border-radius: 2px;
  background: #1B224C;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 15px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 25px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
  width: 12px;
}

.hamburger.active span:nth-child(1) {
  -webkit-transform: translate(-1px, -2px) rotate(315deg);
  transform: translate(0px, -2px) rotate(315deg);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: translate(9px, -13px) rotate(-45deg);
  transform: translate(8px, -13px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  width: 24px;
  -webkit-transform: translate(-2px, 0px) rotate(270deg);
          transform: translate(-2px, 0px) rotate(270deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  width: 100%;
}

nav.globalMenuSp ul {
  background: #FFF;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.globalMenuSp ul li:last-child button.orange {
  margin-right: 20px;
}

nav.globalMenuSp ul li:last-child button.orange.btn {
  width: 140px;
  height: 50px;
  text-align: center;
  background-color: #F5A623;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

nav.globalMenuSp ul li:last-child button.orange.btn a {
  display: block;
  width: 140px;
}

nav.globalMenuSp ul li:last-child button.indigo.btn {
  width: 140px;
  height: 50px;
  text-align: center;
  background-color: #1B224C;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
}

nav.globalMenuSp ul li:last-child button.indigo.btn a {
  display: block;
  width: 140px;
}

nav.globalMenuSp ul li:hover {
  background: #ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #1B224C;
  padding: 1.6em 0;
  text-decoration: none;
}

.menuBackGround {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 30;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  pointer-events: none;
}

.menuBackGround.active {
  opacity: 1;
  pointer-events: all;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  -webkit-transform: translateY(79px);
          transform: translateY(79px);
}

html.is-fixed {
  height: 100%;
  overflow: hidden;
}

#top {
  width: 100vw;
  height: calc(100vh - 80px);
  min-height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top .top-container {
  text-align: center;
}

#top .top-container h2 {
  font-size: calc(80vw / 10);
  margin-bottom: 40px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#top .top-container p {
  line-height: 1.72222em;
  color: #FFF;
}

#top .top-container p:last-of-type {
  margin-bottom: 20px;
}

#top .top-container .top__request {
  color: #FFF;
  font-size: 1.8rem;
  line-height: 3em;
  border-radius: 2em;
  display: block;
  margin: 0 auto;
  background-color: #F5A623;
  width: 260px;
  text-align: center;
  font-weight: bold;
  height: 60px;
  margin-bottom: 20px;
}

#top .top-container .top__contact {
  color: #FFF;
  font-size: 1.8rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#top .top__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 75% 0%;
     object-position: 75% 0%;
  position: absolute;
  left: 0;
  z-index: -10;
}

#singletop .singletop-container {
  width: 100vw;
  height: 221px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#singletop .singletop-container h1 {
  font-size: 32px;
  line-height: 54px;
  color: #FFF;
  font-weight: bold;
  position: relative;
  z-index: 0;
  text-align: center;
  width: 90vw;
}

#singletop .singletop-container .singletop__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  left: 0;
  z-index: -10;
}

@media (min-width: 900px) {
  #top .top-container h2 {
    font-size: 4.8rem;
    margin-bottom: 25px;
  }
  #top .top-container p {
    font-size: 1.8rem;
  }
  #top .top-container p:last-of-type {
    margin-bottom: 51px;
  }
  #top .top-container .top__request {
    margin-bottom: 22px;
    font-weight: bold;
  }
}

@media (min-width: 1280px) {
  #top {
    width: 100vw;
    height: 476px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  #top .top-container {
    margin-top: 116px;
  }
  #top .top-container h2 {
    margin-bottom: 26px;
  }
  #top .top-container p {
    line-height: 1.72222em;
  }
}

.breadcrumbs {
  background-color: #F8F8F8;
}

.breadcrumbs .breadcrumbs-container {
  height: 50px;
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

@media (min-width: 900px) {
  .breadcrumbs .breadcrumbs-container {
    max-width: 900px;
  }
}

.breadcrumbs .breadcrumbs-container a:hover {
  text-decoration: underline;
}

.breadcrumbs .breadcrumbs-container span {
  word-break: keep-all;
}

.pagination {
  padding: 40px 0;
}

.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.pagination .nav-links .next, .pagination .nav-links .prev {
  display: none;
}

.pagination .nav-links .page-numbers {
  width: 50px;
  height: 50px;
  border: solid 1px #1B224C;
  text-align: center;
  line-height: 50px;
}

.pagination .nav-links .page-numbers.current {
  background-color: #1B224C;
  color: #FFF;
}

.pagination .nav-links .page-numbers.dots {
  border: none;
}

#contact .contact-container {
  width: 100vw;
}

#contact .contact-container .contact-container1 {
  padding: 40px 0;
  position: relative;
}

#contact .contact-container .contact-container1 .contact__title {
  font-size: 2.6rem;
  line-height: 1.38889em;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
}

#contact .contact-container .contact-container1 .contact__btn {
  color: #FFF;
  font-size: 1.8rem;
  line-height: 3em;
  border-radius: 2em;
  display: block;
  margin: 0 auto;
  background-color: #F5A623;
  width: 200px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#contact .contact-container .contact-container1 .contact__request {
  text-align: center;
  color: #FFF;
}

#contact .contact-container .contact-container1 .contact__request a {
  text-decoration: underline;
}

#contact .contact-container .contact-container1 .contact__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -5;
  top: 0;
}

#contact .contact-container .contact-container2 {
  padding: 20px 0;
  position: relative;
  text-align: center;
}

#contact .contact-container .contact-container2 h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

#contact .contact-container .contact-container2 div {
  font-size: 3.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (min-width: 900px) {
  #contact .contact-container .contact-container1 {
    padding: 70px 0 41px;
    position: relative;
  }
  #contact .contact-container .contact-container1 .contact__title {
    margin-bottom: 15px;
    font-size: 3.2rem;
  }
  #contact .contact-container .contact-container1 .contact__btn {
    color: #FFF;
    font-size: 1.8rem;
    line-height: 3em;
    border-radius: 2em;
    display: block;
    margin: 0 auto;
    background-color: #F5A623;
    width: 280px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 22px;
    height: 50px;
    line-height: 50px;
  }
  #contact .contact-container .contact-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contact .contact-container .contact-container2 h3 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: right;
  }
  #contact .contact-container .contact-container2 div {
    margin: 0 20px;
  }
  #contact .contact-container .contact-container2 p {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: left;
  }
}

#footer .footer-container {
  padding: 40px 0;
  color: #FFF;
  background-color: #1B224C;
}

#footer .footer-container .footer__nav-container {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

#footer .footer-container .footer__nav-container li {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  text-align: center;
  font-weight: bold;
}

#footer .footer-container .footer__nav-container span {
  -ms-flex-preferred-size: 2%;
      flex-basis: 2%;
  text-align: center;
}

@media (max-width: 900px) {
  #footer .footer-container .footer__nav-container span:nth-of-type(even) {
    display: none;
  }
}

#footer .footer-container .footer__address-container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#footer .footer-container .footer__address-container .footer__img-container {
  background-color: #FFF;
  padding: 10px;
}

#footer .footer-container .footer__address-container .footer__address {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#footer .footer-container .footer__address-container .footer__address p {
  text-align: right;
}

#footer .footer-container .footer__address-container .footer__address p img {
  width: 10px;
  height: 15px;
  vertical-align: text-top;
}

#footer .footer-container .footer__address-container .footer__address p:first-of-type {
  font-weight: bold;
}

#footer .copyright {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .copyright small {
  text-align: center;
}

@media (min-width: 900px) {
  #footer {
    background-color: #1B224C;
  }
  #footer .footer-container {
    width: 900px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .footer-container .footer__nav-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 600px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #footer .footer-container .footer__nav-container li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 0 21.5px;
  }
  #footer .footer-container .footer__address-container {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #footer .footer-container .footer__address-container .footer__img-container {
    background-color: #FFF;
    padding: 10px;
    width: auto;
    text-align: right;
    margin-bottom: 27px;
  }
  #footer .footer-container .footer__address-container .footer__address {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  #footer .footer-container .footer__address-container .footer__address p {
    text-align: right;
  }
  #footer .footer-container .footer__address-container .footer__address p:first-of-type {
    margin-bottom: 13px;
  }
  #footer .copyright {
    background-color: #FFF;
  }
  #footer .copyright small {
    margin-left: auto;
    margin-right: calc((100vw - 900px) / 2);
  }
}

#sidebar {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
}

#sidebar .sidebar__post {
  padding: 40px 0;
}

#sidebar .sidebar__post .sidebar__title {
  font-size: 2.1rem;
  margin-bottom: 20px;
  background-color: #1B224C;
  color: #FFF;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

#sidebar .sidebar__post li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar .sidebar__post li .sidebar__img__thumbnail,
#sidebar .sidebar__post li .wp-post-image {
  width: 100px;
  height: 70px;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#sidebar .sidebar__post li a {
  min-width: 100px;
  min-height: 70px;
  margin-left: 20px;
  text-decoration: underline;
}

#sidebar .category {
  font-size: 2.1rem;
  margin-bottom: 20px;
  background-color: #1B224C;
  color: #FFF;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

#sidebar .wp-block-categories-list {
  margin-bottom: 40px;
  margin-left: 20px;
}

#sidebar .wp-block-categories-list .cat-item {
  margin-bottom: 10px;
}

#sidebar .wp-block-categories-list .cat-item a::before {
  content: "・";
}

.blog-container {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 90vw;
  max-width: 1280px;
  position: relative;
}

.blog-container .blog__category {
  font-size: 1.2rem;
  color: #FFF;
  background-color: #1B224C;
  padding: 4px 8px;
  overflow-wrap: break-word;
  margin: 60px auto 20px 0;
  display: inline-block;
}

.blog-container .blog__title {
  font-size: 2.8rem;
  line-height: 1.71429em;
  font-weight: bold;
  width: 100%;
}

.blog-container .blog__time {
  text-align: right;
}

.blog-container .blog__img {
  margin-bottom: 40px;
}

.blog-container .blog__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-container .blog__img__thumbnail {
  width: 100%;
  height: 370px;
  background-size: cover;
}

.blog-container img {
  max-width: 590px;
  max-height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-container h2 {
  font-size: 2.6rem;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.blog-container h3 {
  font-size: 2.2rem;
  line-height: 1.5em;
  margin-bottom: 20px;
  position: relative;
  padding-left: 14px;
}

.blog-container h3::before {
  content: "";
  position: absolute;
  height: 33px;
  width: 4px;
  left: 0;
  background-color: #1B224C;
}

.blog-container p {
  margin-bottom: 40px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-wrap: normal;
}

.blog-container blockquote {
  margin-bottom: 40px;
  padding: 40px 0;
  background-color: #F8F8F8;
}

.blog-container blockquote p {
  margin: 0 25px;
}

.blog-container blockquote p::before {
  font-size: 9rem;
  color: #B4B4B4;
  content: "“";
  margin-right: 10px;
}

.blog-container ul {
  margin-bottom: 40px;
}

.blog-container ul li {
  line-height: 1.5em;
  margin-left: 45px;
  position: relative;
}

.blog-container ul li::before {
  font-size: 8rem;
  content: "・";
  color: #F5A623;
  position: absolute;
  left: -65px;
}

.blog-container a {
  line-height: 1.5em;
  color: #F5A623;
  text-decoration: underline;
}

.pickup {
  width: 100vw;
}

.pickup .pickup-container {
  display: block;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.pickup .pickup-container .pickup__title {
  font-size: 2.6rem;
  line-height: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}

.pickup .pickup-container .pickup__item {
  margin-bottom: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pickup .pickup-container .pickup__item__imgs {
  width: 35%;
  min-height: 128px;
  position: relative;
  background-position: center;
  background-size: cover;
}

.pickup .pickup-container .pickup__item__imgs .pickup__item__category {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  background-color: #1B224C;
  padding: 4px 8px;
  max-width: 100%;
  overflow-wrap: break-word;
}

.pickup .pickup-container .pickup__item__text {
  width: calc(65% - 20px);
  margin: 0 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pickup .pickup-container .pickup__item__text h4 {
  font-size: 1.8rem;
  line-height: 1.6875em;
  margin-bottom: auto;
}

.pickup .pickup-container .pickup__item__text p {
  font-size: 1.2rem;
  line-height: 1.66667em;
  margin-bottom: 20px;
}

.pickup .pickup-container .pickup__item__text a {
  text-decoration: underline;
}

.news-container {
  margin: 0 auto;
  width: 90vw;
  max-width: 1280px;
}

.news-container .wp_social_bookmarking_light {
  display: none;
}

.news-container .news__title {
  font-size: 2.8rem;
  line-height: 1.71429em;
  font-weight: bold;
  width: 100%;
  padding: 40px 0;
}

.news-container .news__time {
  text-align: right;
}

.news-container h1 {
  font-size: 2.6rem;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.news-container h2 {
  font-size: 2.2rem;
  line-height: 1.5em;
  margin-bottom: 20px;
  position: relative;
  padding-left: 14px;
}

.news-container h2::before {
  content: "";
  position: absolute;
  height: 33px;
  width: 4px;
  left: 0;
  background-color: #1B224C;
}

.news-container p {
  margin-bottom: 40px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-wrap: normal;
}

.news-container blockquote {
  margin-bottom: 40px;
  padding: 40px 0;
  background-color: #F8F8F8;
}

.news-container blockquote p {
  margin: 0 25px;
}

.news-container blockquote p::before {
  font-size: 9rem;
  color: #B4B4B4;
  content: "“";
  margin-right: 10px;
}

.news-container ul {
  margin-bottom: 40px;
}

.news-container ul li {
  line-height: 1.5em;
  margin-left: 45px;
  position: relative;
}

.news-container ul li::before {
  font-size: 8rem;
  content: "・";
  color: #F5A623;
  position: absolute;
  left: -65px;
}

.news-container a {
  line-height: 1.5em;
  color: #F5A623;
  text-decoration: underline;
}

@media (min-width: 900px) {
  #blog-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 70px;
  }
  #blog-container #sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 270px;
    margin-top: 20px;
  }
  .blog-container {
    position: relative;
    width: 594px;
    margin: 0;
    margin-bottom: 60px;
  }
  .pickup {
    position: relative;
    width: 594px;
    margin: 0;
  }
  .pickup .pickup-container {
    width: 100%;
  }
  .pickup .pickup-container .pickup__title {
    margin-bottom: 30px;
  }
  .pickup .pickup-container .pickup__item__imgs {
    width: 210px;
    margin-bottom: 28px;
  }
  .pickup .pickup-container .pickup__item__text {
    width: auto;
    margin: 0;
    margin-left: 32px;
  }
  .pickup .pickup-container .pickup__item p {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=single.css.map */