#footer {
  .footer-container {
    @include content-padding(m);
    color: #FFF;
    background-color: $cBlack;


    .footer__nav-container {
      @include padding-bottom(l);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;

      li {
        flex-basis: 48%;
        text-align: center;
        font-weight: bold;
      }

      span {
        flex-basis: 2%;
        text-align: center;
      }

      @media (max-width: 900px) {
        span:nth-of-type(even) {
          display: none;
        }
      }
    }

    .footer__address-container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-basis: 50%;

      .footer__img-container {
        background-color: #FFF;
        padding: 10px;
      }

      .footer__address {
        flex-basis: 50%;

        p {
          text-align: right;

          img {
            width: 10px;
            height: 15px;
            vertical-align: text-top;
          }

          &:first-of-type {
            font-weight: bold;
          }
        }
      }
    }
  }

  .copyright {
    @include content-padding(ss);
    display: flex;
    justify-content: center;
    align-items: center;

    small {
      text-align: center;
    }
  }
}

@media (min-width: 900px) {
  #footer {
    background-color: $cBlack;

    .footer-container {
      width: 900px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .footer__nav-container {
        flex-wrap: nowrap;
        width: 600px;
        flex-basis: 70%;
        justify-content: left;

        li {
          flex-basis: auto;
          margin: 0 21.5px;
        }
      }

      .footer__address-container {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: flex-end;
        justify-content: flex-start;

        .footer__img-container {
          background-color: #FFF;
          padding: 10px;
          width: auto;
          text-align: right;
          @include margin-bottom(27);
        }

        .footer__address {
          flex-basis: 20%;

          p {
            text-align: right;

            &:first-of-type {
              @include margin-bottom(13);
            }
          }
        }
      }
    }

    .copyright {
      background-color: #FFF;

      small  {
        margin-left: auto;
        margin-right: calc((100vw - 900px) / 2 );
      }
    }
  }
}