#sidebar {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;

  .sidebar__post {
    @include content-padding(m);

    .sidebar__title {
      @include font-size(21);
      @include margin-bottom(s);
      background-color: $cBlack;
      color: #FFF;
      text-align: center;
      width: 100%;
      height: 60px;
      line-height: 60px;
    }

    li {
      @include margin-bottom(s);
      display: flex;
      align-items: center;

      .sidebar__img__thumbnail,
      .wp-post-image {
        width: 100px;
        height: 70px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        object-position: center;
      }

      a {
        min-width: 100px;
        min-height: 70px;
        margin-left: 20px;
        text-decoration: underline;
      }
    }
  }

  .category {
    @include font-size(21);
    @include margin-bottom(s);
    background-color: $cBlack;
    color: #FFF;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .wp-block-categories-list {
    @include margin-bottom(m);
    margin-left: 20px;

    .cat-item {
      @include margin-bottom(ss);
      a::before {
        content: "・";
      }
    }
  }
}